AddDefaultCharset utf-8
php_flag display_errors 1
php_flag magic_quotes_gpc off
ErrorDocument 404 /?view=404
#DirectoryIndex stop.php





#1. Выводим баннера галереи на странице home. У нас будет три баннера, и текст к баннерам.