AddDefaultCharset utf-8
php_flag display_errors on
php_flag display_startup_errors on
php_flag magic_quotes_gpc off
ErrorDocument 404 /?view=404
#DirectoryIndex stop.php





# Админка
#1. Вывели информацию в leftbar по пробуем получить данные для редактирования.
#2. Вывед разделы на главную admin
